.myvue{
  width: 100%;
  height:100vh;
  background-color: black;
  color: aliceblue;
  min-width: 350px;
}
.header{
  height: 70px;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: aliceblue;
  border-bottom: 2px solid rgba(112, 112, 112, 0.845);
}
.header .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.middle h3{
  margin: 0;

}
.header .right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 20px;
}
@media screen and (max-width: 500px) {
  .header .left img {
    width: 100px;
    height: 30px;
  }
  .middle h3{
    font-size: 15px;
  
  }
}



.main_body{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 75%;
  min-height: 700px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.845);
}
.main_body_head{
  margin-top: 30px;
}

.main_body_desc {
  /* border: 3px solid red; */
  width: 70%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: left;
}
.main_body_desc div:nth-child(odd){
  width: 100%;
  font-size: 25px;
  font-weight: 600;
  margin: 30px 0 10px 0;
}
.main_body_desc div:nth-child(even) {
  font-weight: 600;
  width: 100%;
  border-bottom: 2px solid rgb(255, 255, 255);
  padding: 10px 0 10px 0;
}
.main_body_startUse {
  font-size: 25px;
  font-weight: 600;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.useModes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;

}




.footer{
    background-color: black;
    padding: 10px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
.footer_line{
  height: 90%;
  min-height: 100px;
  border: 1px solid rgb(148, 148, 148);
}

.left,.middle,.right{
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 0;
}

@media (max-width: 800px) {
  .footer {
    flex-direction: column;
    padding: 10px 50px;
  }
  .footer_line {
    min-height: 0;
    width: 90%;
    height: 0;
    border: 1px solid rgb(68, 68, 68);
  }
    .left,
    .middle,
    .right {
        width: 80%;
    }
}
.margin_box{
  background-color: black;
  height: 20px;
}